<div class="container bg-white shadow w-75 mt-5">
  <div class="row justify-content-center bg-white shadow mt-3">
    <div class="col-md-12 col-lg-10">
      <div class=" d-md-flex">
        <div class="img" style="background-image: url(../../../assets/bg-1.jpg);">
        </div>
        <div class="login-wrap p-4 p-md-5">
          <div class="d-flex">
            <div class="w-100">
              <h3 class="mb-4">Forgot Password</h3>
            </div>
          </div>
          <form  #f="ngForm" (ngSubmit)="forgotpassword(f)" class="signin-form">
            <div class="form-group mb-3">
              <label class="label" for="name">Enter your email</label>
              <input
              #email="ngModel"
              required
              ngModel
              name="email"
              type="email"
              class="form-control"
              placeholder="Your email"
            />
            </div>
            <div *ngIf="email.errors?.['email'] && email.touched" class="alert alert-danger">
              Match email format
            </div>
            <div *ngIf="email.errors?.['required'] && email.touched" class="alert alert-danger">
              Email is required
            </div>
            <div class="form-group">
              <button [disabled]="f.invalid" type="submit" class="form-control btn btn-primary rounded submit px-3">Send</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
