
# Forcer Angular comme langage principal
*.ts linguist-language=TypeScript
*.html linguist-language=HTML
*.css linguist-language=CSS
*.scss linguist-language=SCSS
*.component.ts linguist-language=Angular
*.module.ts linguist-language=Angular

# Ignorer les fichiers générés
dist/* linguist-vendored
node_modules/* linguist-vendored
