<div class="container bg-white shadow mt-5  w-75 text-center">
  <div class="row justify-content-center bg-white shadow  py-5">
    <div class="col-md-12 col-lg-10">
      <div class=" d-md-flex">
        <div class="img" style="background-image: url(../../../assets/bg-1.jpg);">
        </div>
        <div class="login-wrap px-4 px-md-5">
          <div class="d-flex pt-3 pt-md-3">

          </div>
          <div class="pb-5"><img src="../../../assets/404.PNG" alt="" height="110"></div>
           <div class="text-center pb-5 text-danger">The page you are looking might have been removed, had its name changed or is temporarily unavailable</div>
           <a type="submit" class="form-control btn btn-primary rounded submit px-3" routerLink="">Go To Home Page</a>
          </div>
      </div>
    </div>
  </div>
  </div>
